* {
    margin: 0;
    padding: 0;
    font-family: 'Abril Fatface', cursive;
    letter-spacing: 2px;
}
a{
    text-decoration: none;
    list-style: none;
    color: rgb(255, 255, 255);
}

body {
  color: #333;
}
.contenedor {
    display: flex;
    background: url(../img/fondo-inicio.jpg) no-repeat center;
    background-size: cover;
    background-attachment: contain;
    height: 100vh;
    width: 100vw;
}

header{
    height: 85px;
    padding: 0px 50px;
    color: rgb(255, 255, 255);
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 200;
    position: relative;
}

.logo{
    width:100px;
}
.menu{
    height: 60px;
    display: flex;
    align-items: center;
    letter-spacing: 2px;
}
.menu a{
    display: flex;
    align-items: center;
    color: white;
    text-transform: uppercase;
    font-size: 10pt;
    height: 82px;
    font-weight: 500;
    text-decoration: none;
    padding: 0px 10px;
    margin: 0px 5px;
    transition:all 0.4s ease;
}
.menu a i{
    margin:0px 5px;
    font-size: 15px;
    transition:all 0.4s ease;
}
.mostrar-menu,.esconder-menu{
    font-size: 30px;
    cursor: pointer;
    display: none;
    transition:all 0.4s ease;
}
.mostrar-menu{
    order: 1;
}
.menu a:hover{
    color: rgb(250, 236, 46);
    text-shadow: 1px 1px 3px black;
}
.mostrar-menu:hover,
.esconder-menu:hover{
    color: rgb(250, 236, 46);
    text-shadow: 1px 1px 3px black;
}
#check{
    display: none;
}
/* header {


    display: flex;
    justify-content:space-around;
    background-color: transparent;
    padding: 10px 0px;
    flex-wrap: wrap;
    position: fixed;
    width:100%;
    z-index: 50;
} */
.iconos-social{
    position: fixed;
    right: 0;
    top: 35%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 100;
    width: 50px;
 }
 .iconos-social a{
    text-decoration: none;
    
 }
 .iconos-social i{
     color: white; 
     padding: 20px;
     display: flex;
     justify-content: center;
     align-items: center;
     width: 15px;
     height: 15px;
     font-size: 25px;
     transition: all .5s;
     
 }
 .iconos-social i:hover{
     padding-right: 3rem;
     border-radius: 1rem 0 0 1rem;
     filter: drop-shadow(1px 1px 15px black);
     color:  black;
     
    
 }
 .fa-facebook{
     background: #3b5998 ;
     border-radius: 0 0 0 1rem ;
    

 }
 .fa-twitter{
     background: #00acee;
     border-radius: 1rem 0 0 0 ;
 }
 .fa-instagram{
     background: #3f729b;
     
 }
 .fa-youtube{
     background:  #c4302b;
 }
 .fa-whatsapp{
     background: #00bb2d;
     
 }
/* -------- seccion 2 del home */
.contenedor-2{
    display: flex;
    justify-content: center;
    background: url(../img/fondo-galeria.jpg)no-repeat center;
    background-size: cover;
    align-items:flex-end;
    background-attachment: fixed;
    height: 100vh;
}
.parrafo-bio {
    display:flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.3);
    padding: 10px;
    border-radius: 5px;
    width: 80%;
    height: auto;
    margin: 40px 0px;
}
.parrafo-bio p{
    color: white;
    font-weight: 200;
    font-size: 10pt;
    text-shadow: 1px 1px 4px rgba(100, 100, 100, 0.438);
}
/* este es el footer piecero */
.footer {
    background:rgba(22, 22, 22, 0.616);
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer a{
    color: white;
    font-size: 13px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

}
.politicas {
    background-color:transparent;
    margin: 0 50px;
    height: auto;
    
}
.politicas ul {
    list-style: none;
    font-weight: 400;
    padding: 10px 0px;
}

.politicas ul li a{
    margin: 2px 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: all .5s ease;
}
.politicas ul li a:hover{
    color: goldenrod;
    text-shadow: 1px 1px 5px #333;
}
.social-footer {
    height: fit-content;
    display: flex;
    align-items: center;
}
.social-footer a i{
    font-size: 20px;
    padding: 10px;
    transition: all .4s ease;
}
.social-footer a i:hover{
     color:goldenrod;
     text-shadow:1px 1px 5px #333 
}
.pie {
    background-color: rgba(24, 24, 24, 0.685);
    display: flex;
    justify-content: center;
}
.pie a{
    font-size: 10pt;
    color: silver;
    text-shadow: 1px 1px 2px slategray;
}
.contenedor-3{
    background: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: 100%;
}
.videos-grid{
    display: flex;
    width: 80%;
    height: auto;
    justify-content: center;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;
    padding: 20px 0px;
}
.videos-grid li{
    width:auto;
    height: auto;
    background-color: rgba(167, 167, 167, 0.52);
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    text-align: center;
}
.videos-grid h2{
    color:white;
    font-weight: 200;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12pt;
}
.videos-grid p{
    color: white;
    font-weight: 200;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12pt;
}
.titulo-videos{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 20px 0px;
    z-index: 30;
}
.titulo-videos img{
    width: 20%;
    margin:80px 0px;
    height: auto;
}

.galeria{
    background: url(../img/contacto.jpg) center center ;
    background-size: cover;
    background-attachment: fixed;
    height:auto;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.galeria::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: #0ABFBC;
    opacity: 0.5;
    position: absolute;
}
.galeria h1{
    text-align: center;
    padding-top:80px;
    z-index: 30;
    color: white;
    text-shadow: 1px 1px 2px rgba(20, 20, 20, 0.438);
}
.galeria-fotos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    width: 80%;
    height: auto;
    margin:80px 0px;
    grid-gap:10px;
    padding: 20px;
    overflow: hidden;
    z-index: 30;
}
.galeria-fotos img{
    width: 100%;
    height:100%;
    vertical-align: top;
    object-fit: cover;
    z-index: 40;
}


@media all and (max-width: 1200px){
  
    .links a{
        padding: 0px 3px;
    }
    .links a li{
        font-size: 8pt;
    }
    .titulo-videos{
        display: flex;
        justify-content: center;
        width: 100%;
        height: auto;
        margin-top: 30px;
        z-index: 30;
    }
    .titulo-videos img{
        margin:0;
        width: 30%;
        margin-top: 110px
}
.videos-grid li iframe{
    width: 70vw;
    height: 30vh;
}
.galeria h1{
    margin-top:150px;
    padding: 0;
}
.galeria-fotos{
    padding: 0;
    margin: 20px 0px;
}
.footer{
    display: flex;
    flex-direction: column;
    width: 100%;
} 
.politicas{
    width: 80%;
    height:60px ;
    display: flex;
    margin: 0px;
}
.politicas ul{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.politicas ul li a{
    font-size: 9pt;
}
.social-footer{
    padding:20px 0px;
}
.pie{
    width: 100%;
    display: flex;
    padding:20px 0px;
    justify-content: center;
}
.pie a{
    font-size: 8pt;
    
}
}
@media (max-width: 1000px){ 
    .mostrar-menu,
    .esconder-menu{
        display: flex;
        font-size: 40px;
    }
    .menu a:hover,
    .mostrar-menu:hover,
    .esconder-menu:hover{
        color: rgb(255, 233, 30);
        text-shadow: 1px 1px 3px black;
    }
    header{
        padding:0px;
        justify-content: space-around;
        width: 100%;
    }
    .menu{
        position: fixed;
        width: 100%;
        height:100%;
        background: linear-gradient(90deg, black, gray , black);
        right: -100%;
        top: 0;
        text-align: center;
        justify-content: center;
        z-index: 220;
        transition: 0.8s;
        flex-direction: column;
    }
    .menu a{
        display: block;
        padding: 30px;
        height: auto;
    }
    .esconder-menu{
        position: absolute;
        top: 40px;
        right: 40px;
    }
    #check:checked ~ .menu{
        right: 0;
        border-bottom: none;
   }
}